{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": ["^react", "^react-native", "^@?\\w", "^@/.*", "^\\w"],
  "importOrderSeparation": true
}
